.img
{
    /* background: url('./pic/pic1.jpg') no repeat center center/cover; */
    /* background-image: url('./pic/pic1.jpg'); */
    /* background-color: #cccccc; */
    
    width: auto;
    height: auto;
}

.class1{
    max-width: 400px;
    background-color: red;
}